.gradle/
build/

/.idea/.name
/.idea/codeStyles/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules/
/.idea/shelf/
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/uiDesigner.xml
/.idea/kotlinc.xml
/.idea/jarRepositories.xml
