on: [ push ]
name: CI
jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    container:
      # noinspection SpellCheckingInspection
      image: eclipse-temurin:17.0.17_10-jdk-noble@sha256:37823ac22e65c6248a897229583835089aa06337ba4477a2878533655333f44d
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - run: ./gradlew buildSrc:build clean build
      - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808
        with:
          name: Test Reports
          path: |
            build/reports/tests/
            buildSrc/build/reports/tests/